<div class="container" style="margin-top:50px;">
  <hr class="style14" style="width:100%;" >
  <div class="row">
    <div class="col-sm-4" style="color:#49075E; font-weight: 300;">
      <b>&copy; Thuan Duc Chu 2016</b>
    </div>
    <div class="col-sm-8 text-center">
      <ul class="fa-ul list-inline pull-right" id="social">
                <li class="fa-li"><a target="_blank" href="mailto:thuandu@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
        <li class="fa-li"><a target="_blank" href="https://github.com/chuducty"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
        <li class="fa-li"><a target="_blank" href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
        <li class="fa-li"><a target="_blank" href="https://www.facebook.com/thuan.ducchu"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
        <li class="fa-li"><a target="_blank" href="https://www.instagram.com/chuducty/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
        <li class="fa-li"><a target="_blank" href="http://steamcommunity.com/profiles/76561198054578599"><i class="fa fa-steam fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
