<div class="container">
  <div class="row" style="postion:relative;">

    <div class="col-md-12 text-center text-uppercase">
      <h1 class="mainname">Duc Thuan Chu</h1>
      <h4 class="mainname">CS Student - UQ <a href="http://www.uq.edu.au/" target="_blank"><span><img src="img/uq.png"></span></a></h4>


    </div>

    <div class="col-md-8 col-md-offset-2 text-center" style="margin-top:40px;">
      <ul class="list-inline nav-cus">

        <li class="{{#if portfolio}}active{{/if}}"><a href="/">Portfolio</a></li>


        <li class="{{#if about}}active{{/if}}"><a href="/about">About me</a></li>
      </ul>
    </div>

  </div>

</div>
