<!DOCTYPE html>
<html>
<head>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
	<title>About me</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/hover.css">
	<link rel="stylesheet" href="css/mainpage.css">
	<style>
		p{
			font-size: 18px;
			text-align: justify;
		}
		h4{
			font-size: 20px;

		}
	</style>
	<script src="https://use.fontawesome.com/c06555fd26.js"></script>

</head>
<body>
	{{> header}}
	<div class="container" style="margin-top:60px;">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Xin Chao</h1>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="position: relative;">
				<img src="img/logo1.png" class="col-md-2 img-responsive img-circle pull-right center-block">
				<p>
				My name is Duc Thuan Chu. I am a first year student at University Of Queensland, majoring in Computer Science. My interests at the moment are learning to build website from front to back, and learning new awsome Algorithms and Data Structures.

				</p>

				<p>
					I am a person with very few strong points, and many weak points. Design is not something I'm good at. Recursion and Dynamic Programming are something I'm struggling everytime. Creativity is not something I have much. However, I'm improving day by day.

				</p>
				<p>
					My hobbies are listening to music, playing guitars, playing table tennis and sometimes, computer games.
				</p>
				<p>Feel free to contact me via Mail/Facebook if you want to have a chat about what I do/my hobbies.</p>
				<!-- <div style="clear:both;"></div> -->

			</div>

		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="position: relative;">

				<h3><i>My Skills</i></h3>

				<div class="skillsContainer">



				 	<div class="skill htmlcss"><p>HTML/CSS</p></div>
				 	<div class="skill jquery"><p>jQuery</p></div>
					<div class="skill php"><p>PHP/MYSQL</p></div>
					<div class="skill python"><p>Python</p></div>
					<div class="skill flask"><p>Flask</p></div>
					<div class="skill csharp"><p>C#</p></div>
					<div class="skill asp"><p>Asp.net MVC</p></div>
				  	<div class="skill algo"><p>Algorithms</p></div>

				</div>

			</div>

		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="position: relative;">

				<h3><i>My Working Experience</i></h3>

				<p>
					None

				</p>

			</div>

		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="position: relative;">

				<h3><i>My Education</i></h3>

				<!-- ##### -->
				<div class="col-md-12">
					<h4><span class="glyphicon glyphicon-asterisk"></span> 2016-Current: University Of Queensland, bachelor of Computer Science</h4>
					<div style="margin-left:50px; font-size:18px;">
						Courses I have taken: CSSE1001, INFS1200, MATH1051, MATH1061, INFS2200, INFS 3204, COMP3506, DECO1800. <br>
						GPA (at the moment): 7.0/7.0
						<br>
						Semester 1, 2016: <a target="_blank" href="dean.html">DEAN’S COMMENDATION FOR ACADEMIC EXCELLENCE</a>
					</div>
				</div>
				<div class="col-md-12">
					<h4><span class="glyphicon glyphicon-asterisk"></span> 2015-2016: RMIT Vietnam, bachelor of Information Technology</h4>
					<div style="margin-left:50px; font-size:18px;">
						Courses I have taken: Introduction to Programming, Introduction to IT <br>
						GPA: 4.0/4.0
					</div>
				</div>
				<div class="col-md-12">
					<h4><span class="glyphicon glyphicon-asterisk"></span> 2012-2015: Le Hong Phong high school for the gifted, HCMC, Vietnam, majoring in Computer Science</h4>
					<div style="margin-left:50px; font-size:18px;">

						GPA: 8.8/10
					</div>
				</div>
				<div class="col-md-12">
					<h4><span class="glyphicon glyphicon-asterisk"></span> 2008-2012: Tran Dai Nghi high school for the gifted, HCMC, Vietnam, majoring in Math</h4>
					<div style="margin-left:50px; font-size:18px;">

						GPA: 8.2/10
					</div>
				</div>
				<!-- #####-->

			</div>

		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="position: relative;">

				<h3><i>My Prices</i></h3>

				<p class="black"><span class="glyphicon glyphicon-star-empty"></span> 2013-2014: Gold Medal of the Coding Contest for gifted student in Ho Chi Minh city,Vietnam</p>
				<p class="black"><span class="glyphicon glyphicon-star-empty"></span> 2012-2013: Gold Medal of the Olympiad Coding Contest for Central-Southern of Vietnam</p>
				<p class="black"><span class="glyphicon glyphicon-star-empty"></span> 2005-2007: Gold Medal of the Table Tennis Contest, Ho Chi Minh city, Vietnam</p>



			</div>

		</div>

	</div>
	{{> footer}}
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script>
		$(window).scroll(function(){
			console.log($(window).scrollTop());
			if ($(window).scrollTop()>5){
				$(".csharp").animate({width:"60%"},2100);
				$(".htmlcss").animate({width:"50%"},2100);
				$(".jquery").animate({width:"60%"},2100);
				$(".asp").animate({width:"40%"},2100);
				$(".php").animate({width:"60%"},2100);
				$(".python").animate({width:"60%"},2100);
				$(".flask").animate({width:"40%"},2100);
				$(".algo").animate({width:"60%"},2100);
			}
		})


	</script>


</body>
</html>
