<!DOCTYPE html>
<html>
<head>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My portfolio</title>

<!-- css -->
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/hover.css">
<link rel="stylesheet" href="css/mainpage.css">

<!-- js -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/c06555fd26.js"></script>

</head>
<body>

  {{> header}}

  <div class="container" style="margin-top:40px;">
    <div class="row" style="margin-top:5px;">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/trello.png" alt="">
                  <div class="overlay">
                      <h2>Trello's Clone</h2>
                      <p>A task-management app for team. Implement by the ME-N stack

                      </p>
              <a href="https://trello-node-clone.herokuapp.com/" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> Websites </a>

                  </div>
          </div>
      </div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/gaohouse.png" alt="">
                  <div class="overlay">
                      <h2>Gao House</h2>
                      <p>A E-commerce site, implemented using PHP.
                      </p>

                <a class="pull-left" href="https://github.com/chuducty/PHP-GAOHOUSE" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i>Github </a>
                                <a class="pull-right"  href="/veb" target="_blank"><i class="fa fa-book" aria-hidden="true"></i>Documentation </a>

                  </div>
          </div>
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/hisplore.png" alt="">
                  <div class="overlay">
                      <h2>Hisplore</h2>
                      <p>A group project in DECO1800 -  in UQ

                      </p>
              <a href="/hisplore.html" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> Click to see more </a>

                  </div>
          </div>
      </div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/vanemdeboas.png" alt="">
                  <div class="overlay">
                      <h2>VEB Tree</h2>
                      <p>A recursive data structure, implemented in Python.</p>

                <a class="pull-left" href="https://github.com/chuducty/VEB-Tree-Python" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i>Github </a>
                                <a class="pull-right"  href="/veb" target="_blank"><i class="fa fa-book" aria-hidden="true"></i>Documentation </a>

                  </div>
          </div>
      </div>
    </div>
    <div class="row" style="">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/kdtree.png" alt="">
                  <div class="overlay">
                      <h2>KD-Tree</h2>
              <p>
                A data structure support range query in faster time.
              </p>
              <a href="https://github.com/chuducty/KD-Tree-Python" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a>
                  </div>
          </div>
      </div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/restaurant.png" alt="">
                  <div class="overlay">
                      <h2>Restaurant Manager</h2>
                      <p>A basic restaurant manager app using PHP-MYSQL.</p>


              <a href="https://www.youtube.com/watch?v=Nhxhnk5LZnE" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a>

                  </div>
          </div>
      </div>

    </div>
    <div class="row" style="">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/brickbraker.png" alt="">
                  <div class="overlay">
                      <h2>Brick Braker game</h2>
                      <p>Final project in CSSE1001 - UQ</p>


                <a href="https://github.com/chuducty/Brick-Braker-Python" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a>

                  </div>
          </div>
      </div>
      <div class="col-sm-4 nopadding" style="">
          <div class="hovereffect">
              <img class="img-responsive center-block" src="img/sudoku.svg" alt="">
                  <div class="overlay">
                      <h2>Sudoku Solver</h2>
              <p>
                A Sudoku Solver application, implemented in C#.
              </p>
              <a href="https://github.com/chuducty/Sudoku-Solver-C-" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a>
                  </div>
          </div>
      </div>
    </div>



  </div>

  {{> footer}}



<script>
  window.onresize = function(e){
    console.log(window.innerWidth);
  }
</script>

</body>
</html>
